html {
    overflow: hidden;
}

.address-book {
    height: calc(100vh - 96px);
    max-width: 456px;
    padding: 0 28px 0 52px;
    background-color: var(--clr-white);
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.add-new-contact {
    width: 100%;
    padding: 22px 0 5px 0;

    .blue-btn {
        height: calc(6.5rem - clamp(3rem, 4.3333rem + -1.4815vw, 3.5rem));
        width: 100%;
        font-size: var(--fs-21);
        gap: 16px;
        border-radius: 10px;
    }
}

.contact-btn-mobile {
    height: 0;
    width: 0;

    .blue-btn {
        height: 53px;
        width: 53px;
        border-radius: 46px;
        position: absolute;
        bottom: 100px;
        right: 20px;
    }
}

.contact-edit-delete-menu-mobile {
    height: 100px;
    width: 116px;
    padding: 10px;
    position: fixed;
    bottom: 94px;
    right: 14px;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 6;
    box-shadow: var(--shadow-stronger);

    button {
        height: fit-content;
        max-width: fit-content;
        padding: 8px;
    }
}

.contacts-list {
    width: 100%;
    padding-bottom: 24px;

    .address-book-letter {
        .letter {
            width: 100%;
            padding: 17px 36px;
            font-size: var(--fs-20);
        }

        .letter-underline {
            height: 2px;
            max-width: 352px;
            margin: 7px 0;
            border-radius: 3px;
            background-color: var(--clr-lighterGray);
        }
    }
}

.contact {
    width: 100%;
    padding: 15px 24px;
    border-radius: 10px;
    gap: 35px;
    cursor: pointer;

    .profile-badge {
        height: 42px;
        width: 42px;
    }

    p {
        flex-direction: column;
        gap: 5px;
        flex: 1;
        overflow: hidden;

        .contact-name {
            font-size: var(--fs-20);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.contact-mail {
    color: var(--clr-darkBlue);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.contact:hover {
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
}

.contact-clicked,
.contact-clicked:hover {
    background: var(--clr-primary);
    color: var(--clr-white);
}

.contact-focus {
    max-height: 100vh;
    padding-top: calc(9.875rem - clamp(3rem, 13.3333rem + -11.4815vw, 6.875rem));
    padding-bottom: 80px;
    padding-left: calc(5.25rem - clamp(1.75rem, 19.7500rem + -20.0000vw, 3.5rem));
    flex-direction: column;
    overflow-y: auto;

    .title {
        gap: 30px;

        .title-seperator {
            height: 59px;
            width: 3px;
            background-color: var(--clr-lightBlue);
        }

        p {
            color: var(--clr-primary);
            font-size: var(--fs-27-20);
        }
    }

    .focused-contact-information {
        position: relative;
        animation-duration: 0.4s;
        animation-timing-function: ease-out;
    }
}

@keyframes openFocusedContact {
    0% {
        right: -100%;
    }

    100% {
        right: 0%;
    }
}

.focused-profile-overview {
    padding-top: 32px;
    gap: 54px;

    .focused-profile-badge {
        height: calc(12.5rem - clamp(5rem, 11.6667rem + -7.4074vw, 7.5rem));
        width: calc(12.5rem - clamp(5rem, 11.6667rem + -7.4074vw, 7.5rem));
        border: 3px solid var(--clr-white);
        border-radius: 70px;
        text-align: center;
        align-content: center;
        color: var(--clr-white);
        font-weight: var(--fw-500);
        font-size: var(--fs-47-27);
        box-shadow: var(--shadow-nuevo);
    }

    .focused-profile-account {
        max-width: 480px;
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .focused-contact-name {
            font-weight: var(--fw-500);
            font-size: var(--fs-47-36);
            overflow: hidden;
            white-space: break-spaces;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}

.focused-profile-information {
    padding-top: 21px;

    p {
        padding: 26px 0;
        font-size: var(--fs-20);
    }

    div {
        padding-bottom: 22px;
        gap: 15px;
        flex-direction: column;

        .contact-opportunity {
            font-weight: var(--fw-700);
        }
    }
}

.invisible-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background: transparent;
}

.overlay-contact {
    height: 100vh;
    max-height: 596px;
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    z-index: 6;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
}

.overlay-contact::-webkit-scrollbar {
    display: none;
}

.overlay-title {
    width: max-content;
    padding: 66px 48px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    gap: 12px;
    flex-direction: column;
    background-color: var(--clr-primary);
    color: var(--clr-white);

    .join-logo {
        width: 55.6px;
    }

    p {
        font-size: var(--fs-27-20);
    }

    .overlay-title-seperator {
        height: 3px;
        width: 90px;
        background-color: var(--clr-lightBlue);
    }
}

.overlay-contact-information {
    width: max-content;
    padding: 30px 48px 137px 83px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    flex-direction: column;
    background-color: var(--clr-white);

    .overlay-close {
        height: 32px;
        width: 32px;
        align-self: end;
    }

    .overlay-contact-inputs {
        .profile-badge {
            height: 120px;
            width: 120px;
            border-radius: 70px;
            font-weight: var(--fw-500);
            font-size: var(--fs-47);
        }

        .overlay-form {
            padding: 75px 0 0 72px;
            gap: 32px;
            flex-direction: column;

            .overlay-input {
                flex-direction: column;

                input {
                    width: 422px;
                }

                .overlay-input-icon {
                    height: 0 !important;
                    width: 0 !important;
                    z-index: 6;
                }

                .overlay-input-icon img {
                    height: 50px;
                    width: 24px;
                    left: -40px;
                    position: relative;
                }

                .contacts-alerts {
                    height: 0;
                    width: 0;
                    margin-top: 4px;
                    margin-left: 12px;
                }
            }

            .contact-submit-btns {
                padding-top: 24px;
                gap: 25px;
                display: flex;

                button {
                    padding: 16px;
                    border-radius: 10px;
                    gap: 4px;
                    font-size: var(--fs-21);

                    .cancel-btn-icon {
                        height: 24px;
                        width: 24px;
                        background-image: url("../assets/cancel.svg");
                    }
                }

                button:hover .cancel-btn-icon {
                    background-image: url("../assets/cancel_hover.svg");
                }
            }
        }
    }
}

@media (min-width: 901px) {
    .contact-btn-mobile,
    .arrow-backwards {
        display: none !important;
    }
}

@media (max-width: 1300px) {
    .address-book {
        padding: 0 0 0 12px;
    }

    .contact {
        padding: 10px 8px;
        gap: 25px;
    }

    .contact-focus {
        width: 70%;
        overflow-x: hidden;

        .title {
            gap: 16px;
            flex-direction: column;
            align-items: start;

            h1 {
                order: 1;
            }

            .title-seperator {
                height: 3px;
                width: 59px;
                order: 3;
            }

            p {
                order: 2;
            }
        }
    }

    .focused-profile-overview {
        gap: 24px;
    }

    .overlay-contact {
        height: 100vh;
        max-height: 760px;
        width: 396px;
        flex-direction: column;
    }

    .overlay-title {
        min-height: 352px;
        width: 100%;
        padding: 66px 24px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 0;
        flex-direction: column;

        .join-logo {
            display: none;
        }
    }

    .overlay-contact-information {
        min-height: 408px;
        width: 100%;
        padding: 60px 16px 62px 16px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;

        .overlay-close {
            position: sticky;

            img {
                position: relative;
                bottom: 392px;
                filter: invert(1);
            }
        }

        .overlay-close:hover {
            background-color: unset;
            filter: brightness(1.2);
        }

        .overlay-contact-inputs {
            justify-content: center;
            flex-direction: column;

            .profile-badge {
                height: 0;
                width: 100%;
                justify-content: flex-start;

                div {
                    height: 120px;
                    width: 120px;
                    position: relative;
                    top: calc(50% - 28px);
                    left: 50%;
                    transform: translate(-50%, -50%);
                    justify-content: center;
                }
            }

            .overlay-form {
                padding: 0;
                gap: 15px;
                flex-direction: column;

                .overlay-input {
                    input {
                        height: 41px;
                        width: 100%;
                        max-width: 364px;
                    }
                }

                .contact-submit-btns {
                    padding-top: 32px;
                    gap: 20px;
                    justify-content: center;

                    button {
                        padding: 18px 10px;
                    }
                }

                .btn-hide-mobile {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    main {
        justify-content: center;
        background-color: var(--clr-white);
    }

    .address-book,
    .contact-focus {
        position: relative;
        animation-duration: 0.4s;
        animation-timing-function: ease-out;
    }

    @keyframes contactFocusToAddressBook {
        0% {
            left: -100%;
        }
    
        100% {
            left: 0%;
        }
    }
    
    @keyframes addressBookToContactFocus {
        0% {
            right: -100%;
        }
    
        100% {
            right: 0%;
        }
    }

    .address-book {
        max-width: 100%;
        height: calc(100vh - 160px);
        padding: 0 28px 0 52px;
        animation-name: contactFocusToAddressBook;
    }

    .contact {
        padding: 15px 24px;
        gap: 35px;
    }

    .add-new-contact {
        display: none;
    }

    .contact-focus {
        height: 100%;
        width: 100%;
        bottom: 80px;
        padding-top: 128px;
        padding-right: calc(5rem - clamp(1rem, 5.6552rem + -8.2759vw, 4rem));
        padding-left: calc(5rem - clamp(1rem, 5.6552rem + -8.2759vw, 4rem));
        animation-name: addressBookToContactFocus;
        
        .title {
            .title-seperator {
                height: 3px;
                width: 90px;
            }
        }

        .focused-contact-information {
            position: static;
        }
    }

    .focused-profile-overview {
        gap: 20px;

        .focused-profile-account {
            .edit-delete-btns {
                display: none;
            }
        }
    }

    .focused-profile-information {
        padding-top: 0px;
    }
}

@media (max-width: 500px) {
    .address-book {
        padding: 0 0 0 12px;
    }

    .contacts-list {
        padding-right: 50px;

        .address-book-letter {
            .letter {
                padding: 16px 28px 8px 28px;
            }
        }
    }

    .contact {
        padding: 10px 8px;
        gap: 25px;
    }

    .focused-contact-name {
        overflow: hidden;
        white-space: break-spaces;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
    }

    .overlay-contact {
        height: 100vh;
        max-height: 674px;
        width: 290px;
    }

    .overlay-title {
        min-height: auto;
        width: 100%;
        padding: 56px 20px;
    }

    .overlay-contact-information {
        min-height: auto;
        width: 100%;
        padding: 40px 12px;

        .overlay-close {
            img {
                bottom: 325px;
            }
        }

        .overlay-contact-inputs {
            .profile-badge {
                div {
                    height: 100px;
                    width: 100px;
                    top: calc(50% - 20px);
                }
            }

            .overlay-form {
                gap: 12px;

                .overlay-input {
                    .overlay-input-icon img {
                        height: 36px;
                    }
                }

                .contact-submit-btns {
                    padding-top: 24px;

                    button {
                        padding: 14px 10px;
                    }
                }
            }
        }
    }
}