:root {
  /* font-size fix */
  --fs-12: 12px;
  --fs-16: 16px;
  --fs-20: 20px;
  --fs-21: 21px;
  --fs-27: 27px;
  --fs-47: 47px;
  
  /* dynamische font-size D=Desktop, M=Mobile */
  --fs-16-12: clamp(0.75rem, 0.617rem + 0.4255vw, 1rem);          /* D16px > M12px */
  --fs-64-47: clamp(2.9375rem, 2.3723rem + 1.8085vw, 4rem);       /* D64px > M47px */
  --fs-61-47: clamp(2.9375rem, 2.4721rem + 1.4894vw, 3.8125rem);  /* D61px > M47px */
  --fs-61-36: clamp(2.25rem, 1.4189rem + 2.6596vw, 3.8125rem);    /* D61px > M36px */
  --fs-47-36: clamp(2.25rem, 1.8843rem + 1.1702vw, 2.9375rem);    /* D47px > M36px */
  --fs-47-27: clamp(1.6875rem, -0.3958rem + 3.7037vw, 2.9375rem);
  --fs-27-20: clamp(1.25rem, 1.0173rem + 0.7447vw, 1.6875rem);    /* D27px > M20px */
  --fs-20-16: clamp(1rem, 0.867rem + 0.4255vw, 1.25rem);          /* D20px > M16px */
  --fs-20-14: clamp(0.875rem, 0.6755rem + 0.6383vw, 1.25rem);     /* D20px > M14px */
  --fs-16-14: clamp(0.875rem, 0.8085rem + 0.2128vw, 1rem);        /* D16px > M14px */

  /* font-weight */
  --fw-400: 400; 
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /* color elemente, background & text(T) */ 
  --clr-white: #fff;
  --clr-black: #000;  
  --clr-primary: #2A3647;
  --clr-click: #091931; 
  --clr-lightBlue: #29abe2;
  --clr-darkBlue: #007cee;
  --clr-lightGray: #A8A8A8;
  --clr-lighterGray: #DCDCDC;
  
  /* colors user*/
  --clr-user1: #ff7a00;
  --clr-benedikt: #6e52ff;
  --clr-anja: #9327ff;
  --clr-sofia: #00bee8;
  --clr-emanuel: #1fd7c1;   /* --bg-green */
  --clr-david: #fc71ff;
  --clr-tatjana: #ff4646;
  --clr-eva: #ffbb2b;
  --clr-marcel: #462f8a;
  /* colors prio */
  --medium-clr: #FFA800;
  --urgent-clr: #FF3D00;
  --low-clr: #7AE229;
  /* colors background */
  --bg-blue: #0038FF;
  --bg-green: #1FD7C1;
  --bg-gray: #f6f7f8;

  /* shadows */
  --shadow-stronger: 0px 4px 4px 0px rgba(0, 0, 0, 0.251);/* box-shadow: 0px 4px 4px 0px #00000040; */
  --shadow-barrasuperior: 0px 4px 4px 0px rgba(0, 0, 0, 0.102);/* #0000001A */
  --shadow-nuevo: 0px 0px 4px rgba(0, 0, 0, 0.16);
  --shadow-backlog: 0px 0px 14px 3px rgba(0, 0, 0, 0.078);     /*#00000014*/

  /* border-radius */
  --border-radius: 8px;
  --border-radius-bg: 30px;
}
